body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3498db; /* Cor de fundo da página */
    background-color: #34495e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
legend {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}
input[type="text"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="%23333"><path d="M10 12L6 8h8z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 50%;
    padding-right: 30px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #45a049;
}
button a {
    text-decoration: none;
    color: inherit;
}
button:focus {
    outline: none;
}
button.secondary {
    background-color: #f0f0f0;
    color: #333;
    margin-right: 10px;
}
button.secondary:hover {
    background-color: #e0e0e0;
}